.btn {
  @apply bg-blue-500 text-white font-semibold py-2 px-6 rounded-full shadow-md transition duration-300 ease-in-out;
}

.btn:hover {
  @apply bg-blue-600 shadow-lg transform scale-105;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3d3838;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a79;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}
